h1{
    color: black;
    text-align: center;
    font-size: 30px;
    background-color: coral;
}
.p3{
    color: black;
    justify-content: center;
    font-size: 25px;
}
body{
    background-color:antiquewhite;
}
img{
    background-color: brown;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}
.menu {
  
    font-family:'Courier New', Courier, monospace;
    float: none;
    color: rgb(47, 0, 158);
    list-style-type: none;
    display: flex;
    background-color: rgb(231, 201, 145);
    margin: 0%;
    padding: 0%;
    
}