.p5{
    color: black;
    background-color: rgb(218, 233, 137);
    font-family: Arial;
}
h1{
    margin: 5px;
    font-family: Arial;
    background-color: rgb(228, 173, 97) ;
    float: none;
    color: black;
    list-style-type: none;
    padding: 20px;
    text-align: justify;
    display: flex;
}
body{
    background-color:rgb(255, 255, 255);
}
.menu {
  
    font-family:'Courier New', Courier, monospace;
    float: none;
    color: rgb(47, 0, 158);
    list-style-type: none;
    display: flex;
    background-color: rgb(231, 201, 145);
    margin: 0%;
    padding: 0%;
    
}