h1 {
    color: rgb(182, 8, 8);
    text-align: center;
    font-size: 30px;
    background-color: rgb(117, 224, 117);
    margin: 0%;
    padding: 0%;
}
.P2{
    color: black;
    justify-content: center;
    font-size: 30px;
}
.img{
    float: none;
    text-align: center;
    background-color: darksalmon;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 1%;
}
body{
    background-color:khaki;
}
.menu {
    font-family:'Courier New', Courier, monospace;
    float: none;
    color: rgb(47, 0, 158);
    list-style-type: none;
    display: flex;
    background-color: rgb(231, 201, 145);
    margin: 0%;
    padding: 0%;
}